Django>=6.0
djangorestframework
django-cors-headers
djangorestframework-simplejwt
dj-rest-auth
django-allauth
cloudinary
django-cloudinary-storage
Pillow
requests
PyJWT
psycopg2
drf-yasg
python-dotenv
